.bombers{
  padding: 10rem 0 4rem 0;
  z-index: 10;
  overflow-x: hidden;
  position: relative;
  background-image: url('../img/earth.png');
  background-color: #70311d;
  background-size: 100% auto;
  background-repeat: repeat;
}
.bombers h2{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.bombers .swiper-bombers {
  display: grid;
  grid-template-columns: 7rem calc(100% - 14rem) 7rem;
  align-items: center;
  position: relative;
  z-index: 15;
}
.bombers .swiper-bombers .swiper {
  width: 100%;
}
.bombers .swiper-bombers .swiper-slide {
  background: url(../img/scrool.svg);
  background-size: 90% 75%;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 5rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
}
.bombers .swiper-bombers .swiper-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bombers .swiper-bombers .swiper-conteudo h3{
  color: #ff9000;
  -webkit-text-stroke-width: 3px;
  line-height: 1.1;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  display: none;
}
.bombers .swiper-bombers .swiper-conteudo p{
  font-size: 1.4rem;
  text-align: center;
  line-height: 1;
  display: none;
}

.bombers .swiper-bombers .controls {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.bombers .swiper-bombers .controls button{
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70311d;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}
.bombers .swiper-bombers .controls button:hover{
  cursor: pointer;
}
.bombers .swiper-bombers .controls button:disabled{
  opacity: 0.5;
}
.bombers .swiper-bombers .swiper-conteudo .img-bomber {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.bombers .swiper-bombers .swiper-conteudo h3.active,
.bombers .swiper-bombers .swiper-conteudo p.active,
.bombers .swiper-bombers .swiper-conteudo .img-bomber.active {
  display: flex;
}
.bombers .swiper-bombers .swiper-conteudo .img-bomber img{
  max-width: 100%;
  max-height: 100%;
}
.bombers .swiper-bombers .button-prev img {
  transform: rotate(180deg);
  animation: buttonPrev 1s ease-in-out infinite;
}
.bombers .swiper-bombers .button-next img {
  animation: buttonNext 1s ease-in-out infinite;
}

.bombers .swiper-bombers .button-next img,
.bombers .swiper-bombers .button-prev img {
  width: 6rem;
  margin: 0.5rem;
}
.bombers .swiper-bombers .button-next:hover,
.bombers .swiper-bombers .button-prev:hover {
  cursor: pointer;
}
.bombers .swiper-bombers .swiper-slide img,
.bombers .swiper-bombers .swiper-slide video {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .bombers .conteudo {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .bombers .swiper-bombers {
    grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  }
  .bombers .swiper-bombers .button-next img,
  .bombers .swiper-bombers .button-prev img {
    width: 3rem;
  }
  .bombers .swiper-bombers .swiper-conteudo .img-bomber {
    height: 20rem;
  }
}
@media (max-width: 576px) {
.bombers {
  padding: 6rem 0 4rem 0;
}
.bombers h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.bombers .swiper-bombers .swiper-conteudo h3 {
  -webkit-text-stroke-width: 1.5px;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
}