@font-face {
  font-family: 'crang';
  src: url('../fonts/Crang.ttf');
}
@font-face {
  font-family: 'cabinet-bold';
  src: url('../fonts/CabinetGrotesk-Bold.otf');
}
@font-face {
  font-family: 'cabinet-regular';
  src: url('../fonts/CabinetGrotesk-Regular.otf');
}