* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box !important;
}

/*
#f3dfc3
#c7653d
#6c3a48
#500600
#2f85ff
#cee2ff
#ffd700
#ff7000
#009827
#974024 
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/

/*LOADER*/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loader-wrapper img {
  width: 20rem;
  margin-bottom: 2rem;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
/*FIM LOADER*/

/*DIALOG MODAL*/
dialog.dialog-modal {
  padding: 4rem;
  border-radius: 3rem;
  border: none;
  opacity: 0;
  overflow: visible;
  width: 75rem;
  /* left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); */
  z-index: 1000;
  filter: drop-shadow(20px 20px 0px #fb8e00);
}
dialog.dialog-modal .dialog-content {
  position: relative;
}
dialog.dialog-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog.dialog-modal .dialog-close:hover {
  cursor: pointer;
}
.fade-in {
  animation: fade-in 0.3s linear;
  animation-fill-mode: forwards;
}
.fade-out {
  animation: fade-out 0.3s linear;
  animation-fill-mode: forwards;
}
dialog .dialog-close {
  position: absolute;
  left: -8rem;
  top: 50%;
  transform: translateY(-50%);
}
dialog .dialog-close img {
  width: 6rem;
}
dialog p {
  font-size: 1.4rem;
  line-height: 1.3;
}
/*END DIALOG MODAL*/
/*BTNS*/
.btn {
  font-family: 'crang', sans-serif;
  color: #500600;
  background: url(../img/btn-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-size: 1.5rem;
  height: 4.5rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transform: scale(0.97);
}
.btn:active {
  filter: brightness(0.93);
  transform: scale(0.95);
}
/*END BTNS*/
/*TEXTS*/
.text-shadow {
  font-family: 'crang', sans-serif;
  text-shadow: 2px 5px #000;
  line-height: 1.5;
}
.text-normal {
  font-family: 'cabinet-regular', sans-serif;
  line-height: 1.3;
}
.text-bold {
  font-family: 'cabinet-bold', sans-serif;
  line-height: 1.3;
}
.text-gradient {
  font-family: 'crang', sans-serif;
  color: #ffd800;
  background-image: linear-gradient(to top, #ffd800, #ff7100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
.text-outline {
  font-size: 3rem;
  color: #fff;
  font-family: 'crang', sans-serif;
  line-height: 1.5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
/*END TEXTS*/
/*SWIPER*/
.swiper-bombpix {
  display: grid;
  grid-template-columns: 7rem calc(100% - 14rem) 7rem;
  align-items: center;
}
.swiper {
  width: 100%;
  grid-column: 2/3;
}
.swiper-bombpix .button-prev img {
  transform: rotate(180deg);
  animation: buttonPrev 1s ease-in-out infinite;
}
.swiper-bombpix .button-next img {
  animation: buttonNext 1s ease-in-out infinite;
}
.swiper-bombpix .button-next img,
.swiper-bombpix .button-prev img {
  width: 6rem;
  margin: 0.5rem;
}
.swiper-bombpix .button-next:hover,
.swiper-bombpix .button-prev:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .swiper-bombpix {
    grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  }
  .swiper-bombpix .button-next img,
  .swiper-bombpix .button-prev img {
    width: 3rem;
  }
}

/*END SWIPER*/
.division-grass {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-grass .bomb {
  position: absolute;
  top: -27rem;
  left: -5rem;
  z-index: 12;
  width: 24rem;
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}
.division-grass .grass {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 10rem;
  margin: -5rem 0;
}
.division-wood {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-wood .tree {
  position: absolute;
  width: 17rem;
  left: -1rem;
  top: -0rem;
  transform-origin: bottom;
  animation: rotate-2 2s linear infinite;
}
.division-wood .wood {
  width: 100%;
  height: 5rem;
  margin: -2.5rem 0;
}
.division-wood-2 {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-wood-2 .bush {
  position: absolute;
  width: 17rem;
  left: -7rem;
  top: -12rem;
  animation: rotate 2s linear infinite;
}
.division-wood-2 .wood {
  width: 100%;
  height: 5rem;
  margin: -2.5rem 0;
}
.division-wood-3 {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-wood-3 .wood {
  width: 100%;
  height: 5rem;
  margin: -2.5rem 0;
}
.division-grass-2 {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-grass-2 .grass {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 10rem;
  margin: -5rem 0;
}
.division-wood-4 {
  position: relative;
  z-index: 11;
  width: 100%;
}
.division-wood-4 .bush {
  z-index: 19;
  position: absolute;
  width: 17rem;
  left: -7rem;
  top: -12rem;
  animation: rotate 2s linear infinite;
}
.division-wood-4 .wood {
  width: 100%;
  height: 5rem;
  margin: -2.5rem 0;
}
.division-wood-4 .card {
  position: absolute;
  width: 15rem;
  top: -1rem;
}
.division-wood-4 .card-shuriken {
  z-index: 12;
  left: 7%;
  transform-origin: top left;
  animation: rotate-3 2s linear infinite;
}
.division-wood-4 .card-blue-potion {
  z-index: 13;
  left: 11%;
  transform-origin: top right;
  animation: rotate-3 1.7s linear infinite;
}
.division-wood-4 .card-ninja {
  z-index: 14;
  left: 17%;
  transform-origin: top right;
  animation: rotate-3 1.9s linear infinite;
}
.division-wood-4 .card-green-potion {
  z-index: 15;
  left: 75%;
  transform-origin: top left;
  animation: rotate-3 1.5s linear infinite;
}
.division-wood-4 .card-cauldron {
  z-index: 16;
  left: 83%;
  transform-origin: top right;
  animation: rotate-3 1.7s linear infinite;
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .division-wood-4 .card-green-potion {
    left: 69%;
  }
  .division-wood-4 .card-cauldron {
    left: 78%;
  }
}
@media (max-width: 768px) {
  dialog.dialog-modal {
    width: 48rem;
  }
  .division-wood-4 .card {
    width: 11rem;
    top: 0;
  }
  .division-wood-4 .bush {
    width: 12rem;
    left: -5rem;
    top: -9rem;
  }
}
@media (max-width: 576px) {
dialog .dialog-close {
  position: absolute;
  left: unset;
  top: -2.5rem;
  right: -2.5rem;
  transform: none;
}

  dialog.dialog-modal {
    padding: 2rem;
  }
  dialog .dialog-close img {
    width: 4rem;
  }
  .division-grass .bomb {
    position: absolute;
    top: -12rem;
    left: -3rem;
    z-index: 12;
    width: 11rem;
  }
  .division-grass .grass {
    height: 5rem;
    margin: -2.5rem 0;
  }
  .division-wood .tree {
    width: 10rem;
  }
  .division-wood-2 .bush {
    width: 12rem;
    left: -5rem;
    top: -9rem;
  }
  .division-grass-2 .grass {
    height: 5rem;
    margin: -2.5rem 0;
  }
  .division-wood-4 .card-green-potion {
    left: 60%;
  }
  .division-wood-4 .card-cauldron {
    left: 68%;
  }
}
@media (max-width: 400px) {
}
