/*header*/
section.main-menu {
  border-top: 2rem solid #3086ff;
  position: relative;
  background: #cb6840;
  border-bottom: 0.8rem solid #6e3c4c;
}
header.menu {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
header.menu .logo-header:hover{
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both; 
}
header.menu .logo-header img {
  width: 9.5rem;
}
header.menu nav {
  flex-grow: 1;
}
header.menu nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}
header.menu nav li a {
  font-family: 'crang';
  font-size: 1.5rem;
  color: #f3dfc3;
}
header.menu nav li a:hover {
  filter: brightness(0.95);
  transform: scale(0.97);
}
header.menu .btn-mobile-menu {
  display: none;
}
header.menu .btn-play {
  margin-left: auto;
}
/*end header*/
@media (max-width: 992px) {
  /*header*/
  .main-menu {
    z-index: 20;
  }
  header.menu {
    justify-content: space-between;
  }
  header.menu nav {
    flex-grow: 0;
  }
  header.menu .btn-mobile-menu {
    display: flex;
  }
  header.menu .btn-mobile-menu.active img {
    filter: brightness(0.9);
    transform: scale(0.95);
  }
  header.menu .btn-mobile-menu img {
    width: 5rem;
    height: 5rem;
  }
  header.menu nav li a {
    text-align: center;
    color: #500600;
  }
  header.menu nav ul {
    display: block;
    position: absolute;
    top: 8rem;
    left: 50%;
    height: 0;
    transition: 0.3s all ease-in-out;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
    background: url('../img/scrool.svg');
    background-size: 100% 100%;
    border-radius: 0.5rem;
    padding: 3rem;
    height: auto;
    transform: scale(0) translateX(-50%);
    transform-origin: top;
  }

  header.menu nav.active ul {
    visibility: visible;
    transform: scale(1) translateX(-50%);
    transform-origin: top;
  }

  header.menu nav li {
    padding: 1rem 2rem;
  }
  /*end header*/
}
