.marketplace {
  padding: 10rem 0 4rem 0;
  z-index: 10;
  overflow-x: hidden;
  position: relative;
  background-image: url('../img/earth.png');
  background-color: #974024;
  background-size: 100% auto;
  background-repeat: repeat;
}
.marketplace .tree {
  position: absolute;
  width: 15rem;
  right: -2rem;
  top: 20%;
  transform-origin: bottom;
  animation: rotate-2 2s linear infinite;
}

.marketplace .col h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}
.marketplace .col a.btn {
  margin: 3rem auto;
}
.marketplace .swiper-chests .swiper-conteudo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: 1px solid red; */
  padding-bottom: 3rem;
  max-height: 35rem;
}

.marketplace .swiper-chests .swiper-conteudo::before {
  content: '';
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background-color: #500600;
  position: absolute;
  top: 0;
  z-index: 5;
}
.marketplace .swiper-chests .swiper-conteudo h3 {
  text-align: center;
  margin: 5rem 0 3rem 0;
  position: relative;
  z-index: 6;
  font-family: 'crang', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  background: #974024;
  border-radius: 5rem;
  padding: 1.3rem 1rem 1rem 1rem;
}
  .marketplace .swiper-chests .swiper-conteudo h3.verde-claro {
    background-color: #2d7417;
  }
 .marketplace .swiper-chests .swiper-conteudo h3.vermelho {
  background-color: #80221b;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.azul {
    background-color: #323180;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.verde-escuro {
    background-color: #233a15;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.marrom {
    background-color: #7c5f49;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.roxo {
    background-color: #5a166f;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.amarelo {
    background-color: #9e6311;
  }
  .marketplace .swiper-chests .swiper-conteudo h3.rosa {
    background-color: #59113e;
  }
.marketplace .swiper-chests .swiper-conteudo img {
  width: 40rem;
  position: relative;
  z-index: 6;
  margin-top: -10rem;
  /* filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.7));
  -webkit-animation: wobble-hor-bottom 0.8s infinite both;
  animation: wobble-hor-bottom 1s infinite both; */
}

@media (max-width: 576px) {
  .marketplace {
    padding: 5rem 0 4rem 0;
  }
  .marketplace .col h2 {
    position: relative;
    font-size: 3.5rem;
  }
}
