.modes{
  overflow-x: hidden;
  padding: 5rem;
  background: linear-gradient(180deg,#3086ff,#cbe1ff);
  position: relative;
}
.modes .bg-element{
  position: absolute;
  z-index: 2;
}
.modes .cloud-1 {
  width: 8rem;
  top: 8%;
  right: 6%;
  animation: floating 3s linear infinite;
}
.modes .cloud-2 {
  width: 9rem;
  top: 8%;
  right: 18%;
  animation: floating 4s linear infinite;
}
.modes .cloud-3 {
  width: 4rem;
  top: 5%;
  right: 78%;
  animation: floating 4s linear infinite;
}
.modes .cloud-4{
  width: 10rem;
  top: 15%;
  right: 79%;
  animation: floating 3s linear infinite;
}
.modes .cloud-5 {
  width: 8rem;
  top: 10%;
  right: 69%;
  animation: floating 5s linear infinite;
}
.modes h2.text-gradient{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.modes .scrolls{
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.modes .box-scroll{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 33rem;

}
.modes .box-scroll .scroll{
  background-image: url('../img/scrool.svg'); 
  padding: 5rem;
}
.modes .box-scroll .scroll .thumb{
  max-width: 100%;
  margin-bottom: 1.3rem;
}
.modes .box-scroll .scroll h3{
  font-size: 3rem;
  line-height: 1.3;
  text-align: center;
}
.modes dialog{
  filter: drop-shadow(20px 20px 0px #fb8e00);
}
.modes dialog .main-title{
  background: url('../img/scrool.svg');
  font-size: 3rem;
  position: absolute;
  padding: 1.5rem 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  top: -6.5rem;
  white-space: nowrap;
}

.modes dialog .char-container{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 3rem));
  gap: 3rem;
}
.modes dialog h5{
  font-size: 2.3rem;
  margin-bottom: 1rem;
  letter-spacing: -2px;
  line-height: 1.3;
}
.modes dialog p{
  font-size: 1.4rem;
  line-height: 1.3;
}
.modes dialog h6{
  font-size: 2.3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.modes dialog .coin-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 4rem;
}
.modes dialog .coin-list li{
  font-size: 1.2rem;
  font-family: 'cabinet-bold', sans-serif;
  line-height: 1.1;
  position: relative;
}
.modes dialog .coin-list li::before{
  content: '';
  width: 2rem;
  height: 2rem;
  left: -3rem;
  background-image: url(../img/coin.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  }
  @media (max-width: 768px) {
    .modes dialog .char-container{
      grid-template-columns: 100%;
    }
  }

  @media(max-width: 576px){
    .modes dialog .char-container {
      overflow-x: scroll;
      max-height: 70vh;
    }
  }
